.crop-img {
    cursor: pointer;
    object-fit: cover;
}

.imageModal {
    margin-bottom: 30px;
}

.desc {
    margin-bottom: 20px;
}

.plot {
    margin-top: 10px;
}

.cardTitle {
    background-color: pink;
    height: 90px;
    align-items: center;
    justify-content: center;
}